<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <experienceAnalytics>
      <api>
        <dimensions>
          <dimension id="{1879168B-AF5E-4E9C-9DAE-8B71125F2AD2}" >
            <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.RegionDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" >
              <patch:attribute name="type">Sitecore.Support.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.RegionDimensionKeyTransformer, Sitecore.Support.185047</patch:attribute>
            </transformer>
          </dimension>
        </dimensions>
      </api>
      <regions>
        <region code="SE_AB" region ="Stockholms Lan" />
        <region code="SE_C" region ="Uppsala Lan" />
        <region code="SE_D" region ="Södermanland Lan" />
        <region code="SE_E" region ="Östergötland Lan" />
        <region code="SE_F" region ="Jönköping Lan" />
        <region code="SE_G" region ="Kronoberg Lan" />
        <region code="SE_H" region ="Kalmar Lan" />
        <region code="SE_I" region ="Gotland Lan" />
        <region code="SE_K" region ="Blekinge Lan" />
        <region code="SE_M" region ="Skåne Lan" />
        <region code="SE_N" region ="Halland Lan" />
        <region code="SE_O" region ="Västra Götaland Lan" />
        <region code="SE_S" region ="Värmland Lan" />
        <region code="SE_T" region ="Örebro Lan" />
        <region code="SE_U" region ="Västmanland Lan" />
        <region code="SE_W" region ="Dalarna Lan" />
        <region code="SE_X" region ="Gävleborg Lan" />
        <region code="SE_Y" region ="Västernorrland Lan" />
        <region code="SE_Z" region ="Jämtland Lan" />
        <region code="SE_AC" region ="Västerbotten Lan" />
        <region code="SE_BD" region ="Norrbotten Lan" />
      </regions>
    </experienceAnalytics>
  </sitecore>
</configuration>